<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <context:annotation-config />
<!--    <context:component-scan base-package="com.dabanjia.*.controller" />-->

    <aop:aspectj-autoproxy />
    <mvc:annotation-driven />
    <mvc:resources mapping="/static/**" location="/static/" />
    <mvc:default-servlet-handler />

    <!--配置拦截器, 多个拦截器,顺序执行 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/api/**" />
            <mvc:exclude-mapping path="/api/login" />
            <bean class="com.botany.vanilla.interceptor.LoginInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**/* "/>
            <bean class="org.springframework.web.servlet.handler.UserRoleAuthorizationInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 异常拦截处理 -->
    <bean id="throwAdvice" class="com.botany.vanilla.interceptor.handler.ThrowAdviceHandler" />
    <bean id="throwInterceptor" class="org.springframework.aop.framework.adapter.ThrowsAdviceInterceptor">
        <constructor-arg ref="throwAdvice" />
    </bean>
    <aop:config>
        <aop:pointcut id="baseMethods"
                      expression="execution(* com.botany.vanilla..*(..))"/>
        <aop:advisor advice-ref="throwInterceptor" pointcut-ref="baseMethods" />
    </aop:config>

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter" />
            </list>
        </property>
    </bean>

    <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
                <value>text/plain;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".jsp" />
    </bean>
</beans>
